Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Assets/2D_Textures/T_Crosshair.png
Content/Assets/2D_Textures/T_Crosshair2.png
Content/StarterContent/Audio/Collapse01.uasset
Content/StarterContent/Audio/Collapse02.uasset
Content/StarterContent/Audio/Explosion01.uasset
Content/StarterContent/Audio/Explosion02.uasset
Content/StarterContent/Audio/Fire01.uasset
Content/StarterContent/Audio/Fire_Sparks01.uasset
Content/StarterContent/Audio/Light01.uasset
Content/StarterContent/Audio/Light02.uasset
Content/StarterContent/Audio/Smoke01.uasset
Content/StarterContent/Audio/Starter_Music01.uasset
Content/StarterContent/Audio/Steam01.uasset
